* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: white;
}

.container {
    display: flex;
    width: 85%;
    height: 90%;
    margin: auto;
}

.container a{
    text-decoration: none;
}

.container p{
    font-size: 18px;
}

.container h4{
    margin-bottom: 5%;
}

.social .container{
    height: 400px;
}

.header .container {
    justify-content: space-between;
}

.header button{
    font-family: 'Cormorant Garamond', serif;
    background-color: white;
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 25px;
}

.header button:hover {
    background: #f1f1f1;
}

.titulo {
    padding-bottom: 5%;
    padding-top: 5%;
    color: black ;
    font-weight: 500;
    text-decoration: none;
}

.navbar {
    display: flex;
    width: 300px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

.navbar a, .navbar li {
    color: black;
    text-decoration: none;
}

ul li {
    display: inline-block;
    position: relative;
}
    
ul li a {
    display: block;
    padding: 18px 18px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 120px;
    background: #f9f9f9;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #f1f1f1;
}

ul li:hover ul.dropdown {
    display: block;
}


.banner {
    background-image: url('imgs/home/banner.png');
    background-size: cover;
    opacity: 0.8;
}

.banner .container {
    height: 450px;
    justify-content: center;
    align-items: center;
}

.banner p{
    width: 100;
    font-size:2.9rem;
}

.banner {
    font-weight: 800px;
    color: white;
    font-size: 30px;
}

.workshop{
    padding-top: 10%;
}

.boxes {
    display: flex;
    padding: 20px 0 50px 0; 
    /* padding-top: 5%; */
}
 
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
}   
.box img {
    width: 83px;
    padding: 5px;
    
}    
.box h4 {
    color: black;
    font-weight: bold;
}

/* gifs */
.boxes-gif {
    display: flex;
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 17%;
    margin-bottom: 7%;
    
}
.box-gif {
    padding: 5px;
    background-color: black;
    width: 370px;
    height: 370px;
}
.box-gif img {
    width: 360px;
    height: 360px;
}
.social2 {
    text-align: center;
}
.social2 .boxes {
    align-items: center;
    justify-content: center; 
}
.social2 .box img{
    width: 300px;
    height: 300px;
}
.social2 .box img:hover{
    opacity: 0.8;
}
.social2 p {
font-weight: bold;
font-size: 20px;
}




/* banner de outono */
.out .banner2 img {
    width: 80%;
    height: 500px;
}
.out {
    padding-bottom: 15px;
    margin-bottom: 7%;
}



/* Grafico */
.card-grafico {
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 20px;
    width: 900px;
    margin: 0 auto;
}
.card-grafico .graph {
    float: right;
    width: 200px;
}
.card-grafico #metricaRegiao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.card-grafico  #regiaoBarra {
    position: relative;
    width: 600px;
    height: 600px;
    margin-bottom: 20px;
  }
.card-grafico .grafico {
    display: block;
  }
.card-grafico p{
    font-size: 20px;
    font-weight: 200;
    color: black;
    padding: 15px;
}
.card-grafico h2{
    font-size: 35px;
    color: black;
}

.carroselContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 5%;
}

    /* .carroselContainer img{
        width: 500px;
        height: 350px;
        }
     */
.homeCarrossel {
    overflow: hidden;
    width: 400px;
}
    
.imgEsgrima {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX();
 }
    
.imgSlide {
    object-fit: cover;
    width: 400px;
    border-radius: 3px;
} 

/* footer */
.footer {
    background-color: black;
    text-align: center;
    padding: 25px;
    margin-top: 5%;
}
.footer img {
    width: 50px;
    height: 50px;
    margin-bottom: 2%;
    padding: 4px;
}



    






