* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .banner2 {
      background-image: url('../imgs/estilo-dramatico/banner-dramatico.png');
      background-size: cover;
      height: 550px;
      
  }